.container {
  max-width: 960px;
  
}

.lh-condensed { line-height: 1.25; }


.row {
  
  padding:1px;
	border-radius:10px;
	margin:auto;
	background-color:rgb(250, 179, 179)
  
}


#rowUno{
  box-shadow: rgb(148, 80, 80) 8px 8px 10px 0;
  border-radius: 20px; 
  
}
