
/*Barra de navegacion*/
.py-2{

  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  transition: 0.5s linear;

}

.py-2:hover{
  color: cadetblue;
  text-decoration: none;
  transform: scale(1.060);
}

/*Tipo de letras para cada frase*/

h1{
  font-family: 'Open Sans Condensed', sans-serif;
}
h4{
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: 'Montserrat', sans-serif;
}

.btn{
  font-family: 'Montserrat', sans-serif;
  
}

/*Logo*/
.navbar__logo{
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 26px;
  color: rgb(122, 6, 26);

}

/*Modificacion palabras de la hamburguesa*/
.header__instagram{
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;

}

.header__instagram:hover{
  color: cadetblue;
  text-decoration: none;
}

.header__nosotros{
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.header__nosotros:hover{
  color: cadetblue;
  text-decoration: none;

}

.header__home{
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.header__home:hover{
  color: cadetblue;
  text-decoration: none;
}

.header__productos{
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.header__productos:hover{
  color: cadetblue;
  text-decoration: none;
}

.header__recetas{
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.header__recetas:hover{
  color: cadetblue;
  text-decoration: none;
}

.header__comprar{
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.header__comprar:hover{
  color: cadetblue;
  text-decoration: none;
}

.header__novedades{
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.header__novedades:hover{
  color: cadetblue;
  text-decoration: none;
}