.container {
  max-width: 960px;
  
}

.lh-condensed { line-height: 1.25; }


.row {
  
  padding:1px;
	border-radius:10px;
	margin:auto;
	background-color:rgb(250, 179, 179)
  
}


#rowUno{
  box-shadow: rgb(148, 80, 80) 8px 8px 10px 0;
  border-radius: 20px; 
  
}

.logo{
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 26px;
  color: rgb(122, 6, 26);
  

}

.instagram{
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;

}

.instagram:hover{
  color: cadetblue;
  text-decoration: none;
}

.nosotros{
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.nosotros:hover{
  color: cadetblue;
  text-decoration: none;

}

h1{
  font-family: 'Open Sans Condensed', sans-serif;
}
h4{
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: 'Montserrat', sans-serif;
}

.py-2{

  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  transition: 0.5s linear;

}

.py-2:hover{
  color: cadetblue;
  text-decoration: none;
  transform: scale(1.060);
}