@import "colores";
@import "fuentes";
@import "tamanios";


p{
    @if $title-font == 18px{
        color: white
    }

    @if $title-font == 15px{
        color: red;
    }

    @else {
        color:whitesmoke
    }
}   

@for $i from 1 through 3 {
    .container-#{$i} { width: 320px * $i; }
}
  




/**/

h1 , h4 , .btn{  
    font-family: $font-familyDos;
}   

p{
   font-family: $font-familyUno
}

.navbar__logo{
    color:      $colorLogo;
    font-size:  $logo;
    font-family:$font-familyLogo

}

.header__instagram--nosotros--home--productos--recetas , .navbar__home--productos--recetas--comprar--novedades {
    font-family: $font-familyDos;
    color:       $blanco;
    
}

.body__navbar , .footer_redes{
    background-color: $fondoRosa;
}

